body { 
/* min-height: 100vh;
max-width: 800px; */
margin: 0 auto;
padding: 1rem;
background-color: white;
border-left: 1px solid #333;
border-right: 1px solid #333;
}

h1, h2, h3 { 
    text-align: center;
}

#HomeSection{ 
    background-image: url(Img/homebackground.jpg);
    background-size: cover;
}
header { 
    background-color: white;
}
div { 
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 300px;
}
#Aboutsection { 
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#Aboutsection p { 
    margin: 10;
}
nav { 
    margin: 10;
    padding: 10;
    background-color: whitesmoke;
}

ul { 
    list-style: none;
    margin: 10;
    padding: 10;
    display: inline-flex;
} 
li { 
    padding: 10;
    margin: 10;
}
table { 
    background-color: whitesmoke;
    padding: 25px;
}
th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}
footer { 
    background-color: whitesmoke;
    text-align: center;
}
tfoot { 
    text-align: center;
}
