

body { 
margin: 0 auto;
padding: 1rem; 
text-align: center;
background-color: white;
border-left: 1px solid #333;
border-right: 1px solid #333;
}

h1, h2, h3 { 
    text-align: center;
}

#HomeSection{ 
    background-image: url(Img/homebackground.jpg);
    background-size: cover;
}
header { 
    background-color: white;
}
div { 
    color: white;
    text-align: center;
    font-weight: bold;
    margin-top: 300px;
    margin-left: 300px;
}
#details { 
align-items: center;
}
#items { 
margin: 10px 5px 20px 10px;
}
#Aboutsection { 
    background-color: white;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
#Aboutsection p { 
    margin: 10;
}
nav { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
  }

ul { 
    list-style: none;
    display: flex;
} 
li { 
    margin: 0 15px;
}
ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
  }
table { 
    background-color: whitesmoke;
    align-items: center;
    padding: 25px;
}
th, td, caption {
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}
footer { 
    background-color: whitesmoke;
    text-align: center;
}
tfoot { 
    text-align: center;
}
